* {
  font-family: "Lato";
  letter-spacing: 0.01rem;
   border-radius: 0 !important;
}

body {
  background: linear-gradient(
    to right,
    #d7ecef 0%,
    #d7ecef 50%,
    #fff 50%,
    #fff 100%
  );
  /*background: #fff;*/
}

h1 {
  font-weight: 300;
  margin: 1.5rem 0;
}

p {
  font-weight: 300;
}

nav a {
  color: black !important;
  position: relative;
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 121, 226) !important;
}

i {
  color: #a7b6c1;
}

.stats span, time {
  font-size: 0.8rem;
}


@media only screen and (min-width : 320px) {
  a.navbar-brand.active:before {
    visibility: hidden;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 4px;
    left: 0;
    background-color: #d7ecef;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.78);
    transform: scaleX(0.78);
  }

  .active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 4px;
    left: 0;
    background-color: #d7ecef;
    visibility: visible;
    -webkit-transform: scaleX(0.78);
    transform: scaleX(0.78);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
/*@media only screen and (min-width : 1200px) {
  #root {
    display: flex !important;
    font-size: 1.3rem !important;
    flex-direction: row !important;
  }
}
*/

